/* on page:
.wrapper 
.section-header */


.game-wrapper {
  text-align: center;
}

.team {
  background-color: rgb(232, 214, 207);
  border-radius: 20px;
  max-width: 20rem;
  margin: 0rem auto;
  text-align: center;
  padding-bottom: 2rem;
}

.generate {
  position: relative;
  top: -1rem;
  border: 0px;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px;  
}

.team-list {
  background-color: lime;
  max-width: 10rem;
  margin: 0rem auto;
  padding: 1rem;  
  border-radius: 8px;  
}

.team-member {

}

.shuffle button, .save button {
  background-color: cornsilk;  
  font-family: 'Nova Flat', cursive;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 0px;
  border-radius: 8px; 
}

.save {

} 