/* on page:
.wrapper 
.section-header */


.game-wrapper {
  text-align: center;
}

.teams {
  display: flex;
  flex-wrap: wrap;
}
/* need some media queries to fix resize behaviour */
/* margin and padding need attention */

.team {
  background-color: rgb(232, 214, 207);
  border-radius: 20px;
  min-width: 17rem;
  margin: 0rem auto;
  text-align: center;
  padding-bottom: 2rem;
}

.generate {
  position: relative;
  top: -1rem;
  border: 0px;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px;  
}

.team-list {
  background:seagreen;
  color: cornsilk; 
  max-width: 10rem;
  margin: 0rem auto;
  padding: 1rem;  
  border-radius: 8px;  
}

.team-member {
  margin: 0.3rem;
}

.shuffle button, .save button {
  background-color: cornsilk;  
  font-family: 'Nova Flat', cursive;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 0px;
  border-radius: 8px; 
}

.save {

} 