body {
  background-color: rgba(127, 255, 212, 0.372);
}

.header {
  background: rgb(6, 48, 6);;
}

.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  border: solid 3px red;
}

/* .wrapper * > {
  margin: 0 auto;
} */

.section-header {

}