.players-wrapper{
  text-align: center;
}

.bank {
  background-color: rgb(232, 214, 207);
  border-radius: 20px;
  max-width: 20rem;
  margin: 0rem auto;
  padding-bottom: 0.5rem;
  text-align: center;  
}

.bank table {
  margin: 1.5rem auto;
  width: 80%;
}

.bank tr:nth-child(odd) {
  background:rgb(67, 210, 129);
}
.bank tr:nth-child(even) {
  background:seagreen;
}

.bank .player-cell {
  text-align: right;
  width: 50%;
}

.bank .play-count-cell {
  width: 50%;
  text-align: left;
  padding: 0.3rem 0rem 0.3rem 0.5rem;
}

.draw-add-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0rem;
  border: solid rgb(186, 189, 186) 2px;
}

.add-players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 10rem;
  background-color: rgb(6, 48, 6);
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 8px;
}

.add-players button {
  display: block;
  margin: 1rem auto 0rem auto;
  border: 0px;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px;    
}

.clear-bank {
  background-color: rgb(232, 125, 106);
  /* font-size: 0.4rem; doesn't render */
}

.players-list-wrapper{
  background-color: thistle;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.player-list-item {
  background: tomato;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.create button{
  margin: 1rem;
  border: 0px;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px; 
}