.players-wrapper{
  text-align: center;
}

.players-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  padding-top: 1rem;
  width: 100%;  
}

/* BANK */

.bank-wrapper {
  min-width: 15rem;
  margin-bottom: 1rem;
}

.bank {  
  background: rgb(6, 48, 6);
  border: solid 10px rgb(6, 48, 6);
  border-radius: 20px;  
  margin: 0rem auto;
  padding-bottom: 0.5rem;
  text-align: center; 
}

.bank ul {
  display: block;
  overflow: auto;
  height: 14rem;
}

.bank li:nth-child(odd) {
  background:rgba(162, 210, 67, 0.85);
}
.bank li:nth-child(even) {
  background:rgba(124, 171, 32, 0.85);
}

.bank .player-cell {
  display: inline-block;
  text-align: right;
  width: 8rem;
}

.bank .play-count-cell {
  display: inline-block;
  width: 2rem;
  text-align: left;
  padding: 0.3rem 0rem 0.3rem 0.5rem;
}

.bank .bank-add-wrap {
  display: inline-block;
  width: 4rem;
}

.bank ul button {
  display: block;
  background-color: beige;
  margin: 0.3rem;
  border: 0px;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 8px;   
}

button.bank-clear {  
  background-color: tomato;
  margin-top: 0.8rem;
  border: 0px;
  font-size: 0.75rem;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 8px; 
}

.no-players {
  font-style: italic;
  margin: 1rem;
  color: beige;
}

/* DRAW / ADD PLAYERS */

.draw-add-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  width: 12rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.draw-add-players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(6, 48, 6);
  padding: 1rem;
  border-radius: 8px;
}

.draw-add-players:first-child {
  margin-bottom: 1rem;
}

.draw-button, .add-button {
  display: block;
  background-color: beige;
  margin: 0.8rem auto 0rem auto;
  border: 0px;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 8px;      
}

/* PICKS */
.picks-wrapper {  
  margin-bottom: 1rem;
}

.picks {
  width: 18rem;
  background:rgba(125, 171, 32, 0.85);
  border-radius: 20px;
  padding-bottom: 0.1rem;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.player-list-item {
  background-color: rgb(6, 48, 6);
  color: beige;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}

button.create-button {
  display: block;
  margin: 0.8rem auto;
  border: 0px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: beige; 
}

button.clear-picked-players {  
  background-color: tomato;
  border: 0px;
  font-size: 0.75rem;
  padding: 0.3rem;
  border-radius: 8px;
  margin-bottom: 1rem; 
}

.bank li.picked {
  filter: grayscale(75%);
}