:root {
  --mainWhite: #FEFEFE;
  --cream: #FFF0E9;
  --blue: #41CADD;
  --pink: #FF6A7C;
  --gray: #4A4A4A;
} 

/* when you want to declare it: */

/* property: var(--name); */

/* e.g. */
/* var(--mainWhite);
var(--blue);
*/