.game-wrapper {
  text-align: center;
}

.teams {
  display: flex;
  flex-wrap: wrap;
}

.team {
  background: rgb(29, 36, 18);
  border-radius: 20px;
  width: 45%;
  margin: 1rem auto;
  text-align: center;
  padding-bottom: 2rem;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); 
}
@media screen and (max-width: 700px) {
  .team {
    width: 90%;
  }
}

.generate {
  position: relative;
  top: -1rem;
  border: 0px;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px; 
  background-color: beige; 
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); 
}

.team-list {
  background:rgba(124, 171, 32, 0.85);
  color: cornsilk; 
  max-width: 10rem;
  margin: 0rem auto;
  padding: 1rem;  
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);   
}

.team-list li:nth-child(odd) {
  background:rgba(162, 210, 67);
}
.team-list li:nth-child(even) {
  background:rgba(124, 171, 32);
}

.shuffle button, .save button {
  background-color: beige;  
  font-family: 'Nova Flat', cursive;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 0px;
  border-radius: 8px; 
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); 
}