body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 5rem;
  color: rgb(232, 214, 207);
  padding: 2.5rem 0.5rem;  
}

.section-header {
  text-align: center;
  background-color: rgb(232, 214, 207);
  font-size: 3rem;
  padding: 2rem 0.5rem;
  margin-bottom: 2rem;
}

.add-players h3 {
  font-family: 'Nova Flat', cursive;
  font-size: 1.4rem;
  color: rgb(240, 223, 223);
  padding-bottom: 1rem;
}

.add-players p {
  font-size: 1rem;
  color: rgb(240, 223, 223);
  padding-bottom: 0.5rem;
}

.bank h3 {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.5rem 0.5rem 2rem 0.5rem;
  background: rgb(6, 48, 6);
  color: cornsilk;
  border-radius: 20px 20px 0px 0px;
}

.bank th {
  background-color: cornsilk;  
  font-family: 'Nova Flat', cursive;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem;
}

.players-list-wrapper h3 {
  font-family: 'Nova Flat', cursive;
  font-size: 2rem;
  padding: 1rem;
}

.message {
  margin: 1rem;
}

.team-name {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.5rem 0.5rem 2rem 0.5rem;
  background: rgb(6, 48, 6);
  color: cornsilk;
  border-radius: 20px 20px 0px 0px;
}