body {
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
}

h1 {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 5rem;
  color: beige;
  padding: 2.5rem 0.5rem;  
}

.section-header {
  text-align: center;
  background:rgba(125, 171, 32, 0.85);
  font-size: 3rem;
  padding: 2rem 0.5rem;
}

.bank h3 {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 1rem;
  /* padding: 1.5rem 0.5rem 2rem 0.5rem; */
  background: rgb(6, 48, 6);
  color: beige;
  border-radius: 20px 20px 0px 0px;
}

.bank h4 {
  background-color: beige;
  padding: 0.5rem;
}

.add-players h3 {
  font-family: 'Nova Flat', cursive;
  font-size: 1.4rem;
  color: beige;
  padding-bottom: 1rem;
}

.add-players p {
  font-size: 0.9rem;
  color: beige;
  padding-bottom: 0.5rem;
}

.players-list-wrapper h3 {
  font-family: 'Nova Flat', cursive;
  font-size: 2rem;
  padding: 1rem;
}

.message {
  margin: 1rem;
}

.team-name {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  height: 5rem;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.5rem 0.5rem 2rem 0.5rem;
  background: rgb(6, 48, 6);
  color: beige;
  border-radius: 20px 20px 0px 0px;
}

.team-member {
  color: rgb(6, 48, 6);
  font-size: 1rem;
  padding: 0.3rem;
}
